<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="BasicHttpBinding_IVentopayCardService" />
				<binding name="BasicHttpBinding_IVentopayMobileService" allowCookies="true" maxReceivedMessageSize="200000000" maxBufferSize="200000000" maxBufferPoolSize="200000000">
					<readerQuotas maxDepth="32" maxArrayLength="2000000000" maxStringContentLength="2000000000"/>
				</binding>
				<binding name="BasicHttpBinding_IVentopayFileService" />
				<binding name="BasicHttpBinding_IVentopayBonusService" />
				<binding name="BasicHttpBinding_IVentopayMMSService" />
				<binding name="BasicHttpBinding_IVentopayMasterDataService" />
			</basicHttpBinding>
			<wsHttpBinding>
				<binding name="WSHttpBinding_IVentopayMobileService" allowCookies="true" maxReceivedMessageSize="200000000" maxBufferPoolSize="200000000">
					<readerQuotas maxDepth="32" maxArrayLength="2000000000" maxStringContentLength="2000000000"/>
					<security mode="Transport">
						<transport clientCredentialType="Certificate" />
					</security>
				</binding>
				<binding name="WSHttpBinding_IVentopayTableRoutingService">
					<security mode="Transport">
						<transport clientCredentialType="Certificate" />
					</security>
				</binding>
				<binding name="WSHttpBinding_IVentopayMMSService">
					<security mode="Transport">
						<transport clientCredentialType="Certificate" />
					</security>
				</binding>
				<binding name="WSHttpBinding_IVentopayMasterDataService">
					<security mode="Transport">
						<transport clientCredentialType="Certificate" />
					</security>
				</binding>
			</wsHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://appservice.ventopay.com:8070/ventopayappservice.svc/basic" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IVentopayCardService" contract="IVentopayCardService" name="BasicHttpBinding_IVentopayCardService" />
			<endpoint address="https://appservice.ventopay.com/ventopayappservice.svc/basicenc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IVentopayMobileService" contract="IVentopayMobileService" name="WSHttpBinding_IVentopayMobileService" />
			<endpoint address="http://appservice.ventopay.com:8070/ventopayappservice.svc/basicmobile" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IVentopayMobileService" contract="IVentopayMobileService" name="BasicHttpBinding_IVentopayMobileService" />
			<endpoint address="https://appservice.ventopay.com/ventopayappservice.svc/wstrs" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IVentopayTableRoutingService" contract="IVentopayTableRoutingService" name="WSHttpBinding_IVentopayTableRoutingService" />
			<endpoint address="http://appservice.ventopay.com:8070/ventopayappservice.svc/basicfile" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IVentopayFileService" contract="IVentopayFileService" name="BasicHttpBinding_IVentopayFileService" />
			<endpoint address="http://appservice.ventopay.com:8070/ventopayappservice.svc/basicbonus" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IVentopayBonusService" contract="IVentopayBonusService" name="BasicHttpBinding_IVentopayBonusService" />
			<endpoint address="http://appservice.ventopay.com:8070/ventopayappservice.svc/basicmms" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IVentopayMMSService" contract="IVentopayMMSService" name="BasicHttpBinding_IVentopayMMSService" />
			<endpoint address="https://appservice.ventopay.com/ventopayappservice.svc/wsmms" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IVentopayMMSService" contract="IVentopayMMSService" name="WSHttpBinding_IVentopayMMSService" />
			<endpoint address="http://appservice.ventopay.com:8070/ventopayappservice.svc/basicmasterdata" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IVentopayMasterDataService" contract="IVentopayMasterDataService" name="BasicHttpBinding_IVentopayMasterDataService" />
			<endpoint address="https://appservice.ventopay.com/ventopayappservice.svc/wsmasterdata" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IVentopayMasterDataService" contract="IVentopayMasterDataService" name="WSHttpBinding_IVentopayMasterDataService" />
		</client>
		<behaviors>
			<serviceBehaviors>
				<behavior>
					<serviceDebug includeExceptionDetailInFaults="True" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
</configuration>